---
layout: page
current: Home
title: COMPUTER DEPARTMENT
navigation: true
logo: 'assets/images/ghost.png'
class: page-template
subclass: 'post page'
---

<!-- <h1><center>GHRCEM</center></h1> -->
<div class="container-fluid">
	<div class="row">
		<center><h4>Department Vision</h4></center>
			<p>
				<br>To produce global standard ethical professionals, innovators, and entrepreneurs having strong knowledge and urge to learn latest technologies in the field of computer engineering.
			</p>
	</div>
	<div class="row">
			<center><h4>Department Mission</h4></center>
			<p>
				<br>
				The department continuously strives<br>
				
					<strong>--</strong> To pursue excellence in the area of Computer Engineering and develop students with strong foundations, able to adapt with rapidly changing technologies through effective Teaching- Learning Process.<br>
					<strong>--</strong> To develop competent professionals for global market with the spirit of self-study, team work, innovation and ethics among them.<br>
					<strong>--</strong> To promote continuous learning, entrepreneurial skills and research abilities amongst the students.
			</p>
	</div>
  	<hr>
  	<div class="row">
  		<h2><center>Activities</center></h2>
	  	<section class="archive-post-list">

		   {% for post in site.posts %}
		       {% assign currentDate = post.date | date: "%Y" %}
		       {% if currentDate != myDate %}
		           {% unless forloop.first %}</ul>{% endunless %}
		           <h3>{{ currentDate }}</h3>
		           <ul>
		           {% assign myDate = currentDate %}
		       {% endif %}
		       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
		       {% if forloop.last %}</ul>{% endif %}
		   {% endfor %}

		</section>
  	</div>
  	<div class="row">
    	<div class="one-half column">
    		<table class="u-full-width">
			  <thead>
			    <tr>
			      <th><h4 style="color: #000;">Upcoming Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
			    </tr>
			  </thead>
			  <tbody>
			    {% if site.data.notices %}
				  	{% for event in site.data.events %}
				  		<tr>
				      		<td><strong> {{ event.title }} </strong><br> <small>{{ event.details }}</small></td>
				    	</tr>
				  	{% endfor %}
				{% else %}
					<tr>
				      	<td><strong><center>No Data!</center></strong></td>
				    </tr>
				{% endif %}
			  </tbody>
			</table>
    	</div>
    	<div class="one-half column">
    		<table class="u-full-width">
			  <thead>
			    <tr>
			      <th><h4 style="color: #000;">Latest Notices&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% if site.data.notices %}
				  	{% for notice in site.data.notices %}
				  		<tr>
				      		<td><strong> {{ notice.title }} </strong><br> <small>{{ notice.details }}</small></td>
				    	</tr>
				  	{% endfor %}
				{% else %}
					<tr>
				      	<td><strong><center>No Data!</center></strong></td>
				    </tr>
				{% endif %}
			  </tbody>
			</table>
    	</div>
    	
  	</div>
</div>